<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/base.html :: head(title='Vetrina')">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>
    <h2>CATEGORIA:</h2>
    <div class="formAuth">
        <form th:action="@{/admin/categoria/save}" method="post" th:object="${categoria}">
            <input type="hidden" th:field="*{id}">
            <div>
            <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
            </div>
            <div>
                <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
                <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
            </div>
        </form>
    </div>
</body>
</html>