<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    CATEGORIA
    <form th:action="@{/admin/categoria/save}" method="post" th:object="${categoria}">
        <input type="hidden" th:field="*{id}">
        <div>
          <span><input type="text" th:field="*{nome}" placeholder="Nome"></span>
        </div>
        <div>
            <span><button type="submit" th:if="${modifyForm}">Modifica</button></span>
            <span><button type="submit" th:if="!${modifyForm}">Aggiungi</button></span>
        </div>
    </form>
</body>
</html>