<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/base.html :: head(title='Vetrina')">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
</head>
<body>
    <header th:replace="fragments/base.html :: header"></header>
    <div class="container">
        <form th:action="@{prodotti/get}" th:object="${SearchProdotti}">
            <div class="cercaNome">
                <span><input type="text" th:field="*{nomeProdotto}" placeholder="Cerca prodotto"></span>
            </div>
            <div class="cercaCategoria">
                <select th:field="*{categoria}">
                    <option value="" disabled selected>Seleziona la categoria</option>
                    <option th:each="categoria : ${categorie}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>ù
                    <a th:href="@{'/admin/categoria/modifyForm/' + *{categoria}}"><img th:src="@{/images/settings.png}"></a>
                <a th:href="@{'/admin/categoria/delete/' + *{categoria}}"><img th:src="@{/images/delete.png}"></a>
                </select>
                
            </div>
            <div class="cercaProduttore">
                <select th:field="*{produttore}">
                    <option value="" disabled selected>Seleziona il produttore</option>
                    <option th:each="produttore : ${produttori}" th:value="${produttore.id}" th:text="${produttore.nome}"></option>
                </select>
                <a th:href="@{'/admin/produttore/modifyForm/' + *{produttore}}"><img th:src="@{/images/settings.png}"></a>
                <a th:href="@{'/admin/produttore/delete/' + *{produttore}}"><img th:src="@{/images/delete.png}"></a>
            </div>
            <button type="submit">Cerca</button>
        </form>
        <div class="prodotti">
            <div th:if="${prodotti.size()}">
                <ul>
                    <li th:each="prodotto : ${prodotti}">
                        <a href="prodotto.html" th:href="@{'/prodotto/get/' + ${prodotto.id}}" th:text="${prodotto.nome} + ': ' + ${prodotto.prezzo}">Xiaomi Redmi Note 9 Pro: 250.00€</a>
                        <a th:href="@{'/admin/prodotto/formModify/' + ${prodotto.id}}">Modifica</a>
                        <a th:href="@{'/admin/prodotto/delete/' + ${prodotto.id}}">Elimina</a>
                    </li>
                </ul>
            </div>
            <div th:if="!${prodotti.size()}">
                Non sono presenti prodotti
            </div>
        </div>
    </div>
    <a th:href="@{/admin/categoria/formAdd}">Aggiungi categoria</a>
    <a th:href="@{/admin/prodotto/formAdd}">Aggiungi prodotto</a>
    <a th:href="@{/admin/produttore/formAdd}">Aggiungi produttore</a>
</body>
</html>