<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/base.html :: head(title='Vetrina')">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
</head>
<body>
    <header>
        <a th:href="@{/logout}"><img src="/static/images/logout.png" th:src="@{/images/logout.png}"></a>
    </header>
    <div class="container">
        <form class="form" th:action="@{/prodotto/get/filtered}" method="get" th:object="${SearchProdotti}">
            <div class="cercaNome">
                <span><input type="text" th:field="*{nomeProdotto}" placeholder="Cerca per nome prodotto"></span>
                <a th:if="${admin}" th:href="@{/admin/prodotto/formAdd}"><img src="/static/images/plus.png" th:src="@{/images/plus.png}"></a>
            </div>
            <div class="cercaCategoria">
                <select th:field="*{categoria}">
                    <option value="" selected>Filtra per categoria</option>
                    <option th:each="c : ${categorie}" th:value="${c.id}" th:text="${c.nome}"></option>
                </select>
                <a th:if="${admin}" th:href="@{/admin/categoria/formAdd}"><img src="/static/images/plus.png" th:src="@{/images/plus.png}"></a>
                <a th:if="${admin}" th:href="@{/admin/categoria/get/all}"><img src="/static/images/settings.png" th:src="@{/images/settings.png}"></a>
            </div>
            <div class="cercaProduttore">
                <select th:field="*{produttore}">
                    <option value="" selected>Filtra per produttore</option>
                    <option th:each="p : ${produttori}" th:value="${p.id}" th:text="${p.nome}"></option>
                </select>
                <a th:if="${admin}" th:href="@{/admin/produttore/formAdd}"><img src="/static/images/plus.png" th:src="@{/images/plus.png}"></a>
                <a th:if="${admin}" th:href="@{/admin/produttore/get/all}"><img src="/static/images/settings.png" th:src="@{/images/settings.png}"></a>
            </div>
            <button class="submitButton" type="submit"><img src="/static/images/search.png" th:src="@{/images/search.png}"></button> 
        </form>
        <div class="prodotti">
            <div th:if="${prodotti.size()}">
                <div class="cards">
                    <div class="card" th:each="prodotto : ${prodotti}">
                        <div class="content">
                            <h2 th:text="${prodotto.nome}">iPhone 13 Pro Max</h2>
                            <h3 th:text="'(' + ${prodotto.produttore.nome} + ')' ">(Nokia)</h3>
                            <h4 th:text="${prodotto.prezzo} + '€'">250.00€</h4>
                            <p th:text="${prodotto.categoria.nome}">Elettronica</p>
                            <div class="actions">
                                <a th:if="${admin}" th:href="@{'/admin/prodotto/formModify/' + ${prodotto.id}}"><img src="/static/images/pencil.png" th:src="@{/images/pencil.png}"></a>
                                <a th:if="${admin}" th:href="@{'/admin/prodotto/delete/' + ${prodotto.id}}"><img src="/static/images/delete.png" th:src="@{/images/delete.png}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="!${prodotti.size()}">
                Non sono presenti prodotti
            </div>
        </div>
    </div>
</body>
</html>